#timerDisplay {
	font-size: 2em;
	font-variant-numeric: tabular-nums;
}

#timerDisplay.flash {
	animation: flash 1s ease-out infinite;
}

@keyframes flash {
  0% { color: #ffc107; }
  100% { color: black; }
}

#answerList .answer.answer-correct {
	color: #fff;
	background: #28a745;
}

#answerList .answer.answer-incorrect {
	color: #fff;
	background: #dc3545;
}

#answerList .answer.answer-revealCorrect {
	color: #155724;
	background: #c3e6cb;
}

#resultText {
	font-size: 1.2em;
	font-weight: bold;
}

.progress {
	height: 4px;
	background: none;
}

.progress-bar {
	background: white;
}

.progress-bar.timing {
	transition: width 9.75s linear;
}